.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
  }
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
  }
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  margin-left: 0;
  border: 1.5pt solid #777;
  border-radius: 10px;
  }
.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
  }
.my-legend a {
  color: #777;
  }


#div_radio{
	padding-left:40px;
	padding-right:40%;
}
.my-legend{
	padding-left:30px;
	padding-top:10px;
}